* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 90%;
  margin: auto;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-content-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.img-fluid {
  width: 100%;
  height: 100%;
}

.list-unstyled {
  list-style: none;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.m-0 {
  margin: 0%;
}

.p-0 {
  padding: 0%;
}

#header {
  background-color: #5b5b7e;
}

#header .logo {
  width: 10%;
}

#header .logo h1 {
  color: white;
  cursor: pointer;
}

#header .big-menu {
  position: relative;
  width: 90%;
}

#header .big-menu ul li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 20px;
}

#header .big-menu ul li.home {
  position: relative;
}

#header .big-menu ul li.home:hover .home-dropped {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
  visibility: visible;
}

#header .big-menu ul li.home .home-dropped {
  background-color: darkblue;
  position: absolute;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  width: 150px;
  top: 100%;
}

#header .big-menu ul li.home .home-dropped li {
  border-bottom: 1px solid red;
}

#header .big-menu ul li.home .home-dropped li:nth-child(6) a {
  border: none;
}

#header .big-menu ul li.home .home-dropped li a {
  padding: 10px;
  margin-left: 10px;
}

#header .big-menu ul li.home .home-dropped li.nermin {
  position: relative;
}

#header .big-menu ul li.home .home-dropped li.nermin:hover .nermin-dropped {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

#header .big-menu ul li.home .home-dropped li.nermin .nermin-dropped {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  background-color: black;
  position: absolute;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
  opacity: 0;
  visibility: hidden;
  left: 100%;
  top: 0%;
}

#header .big-menu ul li.home .home-dropped li.nermin .nermin-dropped li a {
  margin: 0%;
}

#header .big-menu ul li.about:hover .big-about-dropped {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
  visibility: visible;
}

#header .big-menu ul li.about .big-about-dropped {
  -webkit-transform: translateY(25px);
          transform: translateY(25px);
  top: 100%;
  left: 0%;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  position: absolute;
  background-color: red;
}

#header .big-menu ul li.about .big-about-dropped .box {
  text-align: center;
  width: 25%;
}

#header .big-menu ul li.about .big-about-dropped .box img {
  -o-object-fit: cover;
     object-fit: cover;
}

#design {
  background-image: url("../photo/bg-image-1-scaled (1).jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: white;
  position: relative;
  padding-block: 2rem;
}

#design .overlay {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.677);
}

#design h1 {
  background: linear-gradient(120deg, #1C99FE 20.69%, #7644FF 50.19%, #FD4766 79.69%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 5;
  position: relative;
  font-size: 100px;
  text-align: center;
  padding: 2rem 0;
  width: 80%;
  margin: auto;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
}

#design .box {
  width: 33%;
  z-index: 1;
  text-align: center;
}

#design .box svg {
  color: #FD4766;
  font-size: 80px;
}

#design .box h4 {
  font-size: 1.5rem;
  margin: 20px 0;
}

#design .box p {
  width: 80%;
  margin: auto;
}

#about {
  padding-block: 2rem;
}

#about .box-img {
  width: 35%;
  border-radius: 8px;
}

#about .box-right {
  width: 60%;
}

#about .box-right .svgIco {
  display: inline-block;
  width: 80px;
  height: 80px;
  background: var(--color-primary);
  border-radius: 50%;
  text-align: center;
  color: #fff;
  line-height: 58px;
  font-size: 27px;
  margin: 0 0 20px 25px;
  background-color: #FD4766;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#sectOne {
  padding: 3rem 0;
}

#sectOne .box {
  width: 30%;
  margin: 15px;
  position: relative;
  overflow: hidden;
  border-radius: 30px;
}

#sectOne .box:hover .overlay {
  opacity: 1;
  visibility: visible;
}

#sectOne .box:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#sectOne .box img {
  vertical-align: middle;
  border-radius: 25px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-transform: scale(1);
          transform: scale(1);
}

#sectOne .box .overlay {
  position: absolute;
  top: 0%;
  left: 0%;
  background: #22c1c3;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(195, 34, 34, 0.679)), to(rgba(253, 45, 45, 0)));
  background: linear-gradient(0deg, rgba(195, 34, 34, 0.679) 0%, rgba(253, 45, 45, 0) 100%);
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  visibility: hidden;
  border-radius: 25px;
}
/*# sourceMappingURL=style.css.map */